*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBox
{
    position: relative;
    width: 60%;
    height: 100%;
}
section .imgBox:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9fa);
    z-index: 1;
    mix-blend-mode: screen;

}
section .imgBox img
{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
section .contentBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBox .formBox
{
    width: 50%;
}
section .contentBox .formBox h2
{
    color: #607d8b;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 5px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBox .formBox p
{
    color: #607d8b;
    margin-bottom: 20px;
    font-size: 14px;
}
section .contentBox .formBox .inputBox
{
    margin-bottom: 20px;
}
section .contentBox .formBox .inputBox span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBox .formBox .inputBox input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
section .contentBox .formBox .inputBox input[type="submit"]
{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBox .formBox .inputBox input[type="submit"]:hover
{
    background: #f53677;
}
section .contentBox .formBox .remember
{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
section .contentBox .formBox .inputBox p
{
    color: #607d8b;
}
section .contentBox .formBox .inputBox p a
{
    color: #ff4584;
}

@media only screen and (max-width: 600px) /*media query for mobiles*/
{
    section .imgBox
    {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    }
    section .imgBox img
{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
    section .contentBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.774);
}
section .contentBox .formBox
{
    width: 100%;
    margin: 0px 40px;
    height: 80vh;
}
section .contentBox .formBox h2
{
    font-size: 40px;
    font-weight: 800;
}
section .contentBox .formBox p
{
    margin-bottom: 30px;
}
section .contentBox .formBox .inputBox span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBox .formBox .inputBox input
{
    font-size: 18px;
}
section .contentBox .formBox input[type="submit"]
{
    margin: 20px 0px 10px 0px;
}
}
@media only screen and (min-width: 956px)/*media query for laptop & desktop*/
{
    section .imgBox img
{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}



